#home {
  height: 100dvh;
  display: flex;
  flex-direction: row-reverse; 
  margin: 0 auto;
}
.hero-left {
  width: 45%;
}
.img-container {
  width: 55%;
  overflow-x: hidden;
  align-self:center
  
}
.img-container>img {
  width: auto;
  height: 98dvh;
  
}
.logo-container {
  height: fit-content;
}
.logo-container>img {
  width: 500px;
}

.home-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav {
  transform: translateY(-80px);
}
.nav-link {
  font-size: 7rem;
  font-weight: 600;
  color: var(--blue-dark);
  transition: .7s ease;
}
.nav-link:hover {
  color: var(--blue-active);
  font-size: 7.4rem;
}

#equipo {
  width: 90dvw;
  align-content: center;
}

.section-title {
  font-size: 9rem;
  text-align: right;
  margin: 0 0;
}
.equi-box {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 5rem;
}
.equi-container{
  align-content: center;
}
.equi-text {
  width: 30dvw;
  text-align: center;
  text-justify: distribute-all-lines;
  font-size: 1.8rem;
}
.eq-img-container>img{
  width: 120px;
}

.one{
  transform: translateX(20px);
}
.two{
  transform: translateX(-30px);
}
.thr{
  transform: translateX(10px);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 4rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .7s ease;
  i{
    font-size: 130%
  }
}

.footer-item:hover{
  cursor: pointer;
  font-size: 2rem;
}

